.getBtn {
    background-color: #6d724f;
    border-radius: 13px;
    color: white;
}

.getBtn:hover {
    background-color: white;
    color: #6d724f;
}

.deleteBtn {
    background-color: #724f4f;
    border-radius: 13px;
    color: white;
}

.deleteBtn:hover {
    background-color: white;
    color: #724f4f;
}